pipeline/DynaLoad1.json
{
	"name": "DynaLoad1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select  'dbo' as [schema],SUBSTRING([apiref],8,9)  src,SUBSTRING([desttable],8,9) dest from dbo.metadata2\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable10",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "dynaforeach",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dynaforeacharray": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}