pipeline/GetTableListAndTriggerCopyData.json
{
	"name": "GetTableListAndTriggerCopyData",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList",
				"description": "Retrieve the table list from my database for Description",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  [SCHEMA]  TABLE_SCHEMA,\n[sname] [TABLE_NAME]\n      \n      \n  FROM [H21_STAGING].[dbo].[mload]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableBSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TriggerCopy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IterateAndCopySQLTables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"tableList": {
							"value": "@activity('LookupTableList').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-08-03T14:33:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}