pipeline/NestedForEachApidyna.json
{
	"name": "NestedForEachApidyna",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('arrayn')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@pipeline().parameters.Btoken",
											"type": "Expression"
										},
										"Ocp-Apim-Subscription-Key": "14cddd7f2bbe4cb3b08bc9bcd4e0f2c9",
										"Content-Type": "application/Json"
									},
									"paginationRules": {
										"AbsoluteUrl.{pg}": "RANGE:0:142416:2500"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(pipeline().parameters.mcref)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"BaseUrl": {
											"value": "@pipeline().parameters.sapiref",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerTable2",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.sdesttable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "arrayn",
					"value": {
						"value": "@split(pipeline().parameters.PageNo,',') ",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PageNo": {
				"type": "string",
				"defaultValue": "1"
			},
			"mcref": {
				"type": "string",
				"defaultValue": "{\\r\\n                        \\\"type\\\": \\\"TabularTranslator\\\",\\r\\n                        \\\"mappings\\\": [\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['LocationEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"LocationEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['PostEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"PostEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['IsMainPost']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"IsMainPost\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['LocationReasonId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"LocationReasonId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeOverrideDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeOverrideDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ServiceConditionId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ServiceConditionId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['CostCentreSourceId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"CostCentreSourceId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['MultiHours']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"MultiHours\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['IsSuspended']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"IsSuspended\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeReasonId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeReasonId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['FTE']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"FTE\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['LocationId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"LocationId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ContractHoursFTE']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ContractHoursFTE\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ServiceConditionStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ServiceConditionStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['WorkPatternNoTimesFlag']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"WorkPatternNoTimesFlag\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeCurrentPoint']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeCurrentPoint\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['WorkerPostId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"WorkerPostId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ContractNo']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ContractNo\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['MultiWeeks']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"MultiWeeks\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ContractHoursEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ContractHoursEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeCarryForward']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeCarryForward\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['PositionStatusEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"PositionStatusEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['LocationStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"LocationStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['WorkPatternReasonId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"WorkPatternReasonId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['PostLeaveReasonId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"PostLeaveReasonId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ContractHoursStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ContractHoursStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ContractHours']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ContractHours\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ServiceConditionEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ServiceConditionEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['RecordStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"RecordStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['PostStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"PostStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeOverrideStep']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeOverrideStep\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['PostId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"PostId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeOverrideReasonId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeOverrideReasonId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['PositionStatusId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"PositionStatusId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['WorkPatternEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"WorkPatternEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['WorkerId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"WorkerId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['PositionStatusStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"PositionStatusStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ContractHoursWeeksPerYear']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ContractHoursWeeksPerYear\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['WorkPatternStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"WorkPatternStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ApprenticeStartDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ApprenticeStartDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['RecordEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"RecordEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['HesaFlag']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"HesaFlag\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ApprenticeEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ApprenticeEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['WorkPatternStartDay']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"WorkPatternStartDay\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['WorkPatternId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"WorkPatternId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['ProjectedEndDate']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"ProjectedEndDate\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['GradeBasicSalary']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"GradeBasicSalary\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['OccupancyTypeId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"OccupancyTypeId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            },\\r\\n                            {\\r\\n                                \\\"source\\\": {\\r\\n                                    \\\"path\\\": \\\"['PostJoinReasonId']\\\"\\r\\n                                },\\r\\n                                \\\"sink\\\": {\\r\\n                                    \\\"name\\\": \\\"PostJoinReasonId\\\",\\r\\n                                    \\\"type\\\": \\\"String\\\"\\r\\n                                }\\r\\n                            } ],\\r\\n                        \\\"collectionReference\\\": \\\"$['value']\\\"\\r\\n                    }"
			},
			"sapiref": {
				"type": "string",
				"defaultValue": "https://api.hcm.zellis.com/hotest/odata/WorkerPosts"
			},
			"sdesttable": {
				"type": "string",
				"defaultValue": "WorkerPosts"
			},
			"Btoken": {
				"type": "string",
				"defaultValue": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IjJaUXBKM1VwYmpBWVhZR2FYRUpsOGxWMFRPSSIsImtpZCI6IjJaUXBKM1VwYmpBWVhZR2FYRUpsOGxWMFRPSSJ9.eyJhdWQiOiJhcGk6Ly8wNTg2NzIxYy1iODk0LTQxZGEtOTc3Ny00Y2M4ZjhjMzIxZWYiLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MWMwYjhhMy1jYjMwLTQ0ZDktYmVlOS0wNzExNTk5YjM5ZTEvIiwiaWF0IjoxNjY4NzAxNzk4LCJuYmYiOjE2Njg3MDE3OTgsImV4cCI6MTY2ODcwNTY5OCwiYWlvIjoiRTJaZ1lIZ2NQcHMvNGZpbFN3S3lDVnMrVDdnZkN3QT0iLCJhcHBpZCI6IjU2Y2UyMDExLWM4M2UtNDE3Ny1iZjk2LWM1MDZhNWY2MmVmZiIsImFwcGlkYWNyIjoiMSIsImlkcCI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzcxYzBiOGEzLWNiMzAtNDRkOS1iZWU5LTA3MTE1OTliMzllMS8iLCJvaWQiOiJhNjdmMzllMy1mMTU4LTRiY2ItYjlmMS0yY2QxYmQzYWMxOTMiLCJyaCI6IjAuQVVnQW83akFjVERMMlVTLTZRY1JXWnM1NFJ4eWhnV1V1TnBCbDNkTXlQakRJZTlJQUFBLiIsInN1YiI6ImE2N2YzOWUzLWYxNTgtNGJjYi1iOWYxLTJjZDFiZDNhYzE5MyIsInRpZCI6IjcxYzBiOGEzLWNiMzAtNDRkOS1iZWU5LTA3MTE1OTliMzllMSIsInV0aSI6Ik5GcmlqREFYWTBTQXR0MVo4dlVVQUEiLCJ2ZXIiOiIxLjAifQ.XzvhojQJsAjDYmblpxK3IWilE_6MPJKBPRRV9xFVbruKAVMeRikrvXq3RFhEU2AUNegMgaUaVDwLI7WuM2uBode5Qu_VhrDsKH8UNSQ4bXaaDwjopY_57JXjle4vLxlVwcEPr9gEqLBvPAMDKJH2HEk_AesOEALHbkCbtldJLyP_lCfYOk4_sB490BAkMv6IbAEmzadz6Nq1Vzf5sUy-6bjVhPVHstahS5Ld-_xOfCC0DZvU8M27-uMVDQJKUVAbpqxEVXszx1o4oz1uzaeYzywuxWDpKhNu46ynqPJYHAKdoxh6BqOxNnSkMx7iWVlapT8zjcCpCSe3dJDQjV-GOQ"
			}
		},
		"variables": {
			"array": {
				"type": "String"
			},
			"arrayn": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}