PRAVEEN-DF21/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "PRAVEEN-DF21"
		},
		"SqlServerH21_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerH21'"
		},
		"SqlServerH21_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServerH21'"
		},
		"SqlServerStagingList_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerStagingList'"
		},
		"SqlServerStagingList_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServerStagingList'"
		},
		"linkedServiceSqlControl_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linkedServiceSqlControl'"
		},
		"linkedServiceSqlControl_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedServiceSqlControl'"
		},
		"SqlServerH21_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "universe\\nayakwadip"
		},
		"SqlServerStagingList_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "universe\\nayakwadip"
		},
		"linkedServiceSqlControl_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "universe\\nayakwadip"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_b3o')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filepath": {
						"type": "string",
						"defaultValue": "zellis-rl"
					},
					"directory": {
						"type": "string",
						"defaultValue": "Directory"
					},
					"filename": {
						"type": "string",
						"defaultValue": "rt"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().filepath",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"WorkerNumber": {
							"type": "string"
						},
						"PayGroupId": {
							"type": "integer"
						},
						"ProbationPassedDate": {
							"type": "string"
						},
						"TitleId": {
							"type": "integer"
						},
						"PreviousSurname": {
							"type": "string"
						},
						"OtherForenames": {
							"type": "string"
						},
						"ReligionId": {
							"type": "integer"
						},
						"EmployeeTypeId": {
							"type": "integer"
						},
						"FirstForename": {
							"type": "string"
						},
						"PayMethodId": {
							"type": "integer"
						},
						"OriginalJoinReasonId": {
							"type": "integer"
						},
						"WorkTelephoneNumber": {
							"type": "string"
						},
						"PersonalEmail": {
							"type": "string"
						},
						"AddressId": {
							"type": "integer"
						},
						"LastPaidDate": {
							"type": "string"
						},
						"OriginalStartDate": {
							"type": "string"
						},
						"LastPaidYear": {
							"type": "string"
						},
						"Surname": {
							"type": "string"
						},
						"KnownAs": {
							"type": "string"
						},
						"CurrentJoinReasonId": {
							"type": "integer"
						},
						"HomeTelephoneNumber": {
							"type": "string"
						},
						"CurrentStartDate": {
							"type": "string"
						},
						"DeathDate": {
							"type": "string"
						},
						"MaritalStatusEffectiveDate": {
							"type": "string"
						},
						"LegislationTypeId": {
							"type": "integer"
						},
						"BusinessEmail": {
							"type": "string"
						},
						"WorkerId": {
							"type": "integer"
						},
						"EthnicOriginId": {
							"type": "integer"
						},
						"Initials": {
							"type": "string"
						},
						"PayGroupEffectiveDate": {
							"type": "string"
						},
						"GenderId": {
							"type": "integer"
						},
						"LanguageId": {
							"type": "integer"
						},
						"BirthDate": {
							"type": "string"
						},
						"NationalInsuranceNo": {
							"type": "string"
						},
						"CountryOfBirthId": {
							"type": "integer"
						},
						"MaritalStatusId": {
							"type": "integer"
						},
						"IsCurrent": {
							"type": "boolean"
						},
						"WorkTelephoneExtension": {
							"type": "string"
						},
						"LeaveReasonId": {
							"type": "integer"
						},
						"BankAccountId": {
							"type": "integer"
						},
						"LeaveDate": {
							"type": "string"
						},
						"MobileTelephoneNumber": {
							"type": "string"
						},
						"LastPaidPeriod": {
							"type": "string"
						},
						"ControlGroupId": {
							"type": "integer"
						},
						"Age": {
							"type": "integer"
						},
						"TemporaryPayments": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"WorkerPosts": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"Gender": {
							"type": "object"
						},
						"CurrentMainWorkerPost": {
							"type": "object"
						},
						"EthnicOrigin": {
							"type": "object"
						},
						"OperatorProfileToWorkers": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"WorkerParentalLeave": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"Title": {
							"type": "object"
						},
						"WorkerPayPeriods": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"ControlGroup": {
							"type": "object"
						},
						"OriginalJoinReason": {
							"type": "object"
						},
						"CountryOfBirth": {
							"type": "object"
						},
						"PayMethod": {
							"type": "object"
						},
						"CurrentYTDs": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"PeriodOnPeriodYTDs": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"BankAccount": {
							"type": "object"
						},
						"WorkerUSCDetails": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"WorkerTaxCodeHistories": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"Address": {
							"type": "object"
						},
						"ReportingLevels": {
							"type": "object"
						},
						"UserSecurityToWorkers": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"WorkerPRSIDetails": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"WorkerPensionSchemes": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"PayGroup": {
							"type": "object"
						},
						"Religion": {
							"type": "object"
						},
						"AbsenceEntitlements": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"CurrentJoinReason": {
							"type": "object"
						},
						"WorkerCostingData": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"EmployeeType": {
							"type": "object"
						},
						"LeaveReason": {
							"type": "object"
						},
						"LegislationType": {
							"type": "object"
						},
						"AbsenceHeaders": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"MaritalStatus": {
							"type": "object"
						},
						"Managers": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"FixedPayments": {
							"type": "array",
							"items": {
								"type": "object"
							}
						},
						"WorkerBenefits": {
							"type": "array",
							"items": {
								"type": "object"
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_k2m')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageDf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "parsesrc.xlsx",
						"container": "zellis-rl"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_lnm')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageDf",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "string",
						"defaultValue": "filo"
					},
					"filename": {
						"type": "string",
						"defaultValue": "newspace.txt"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().path",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_n00')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageDf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "temperature.txt",
						"folderPath": "test-folder-praveen",
						"container": "praveen-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_udv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageDf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "zeworkerposts.json",
						"container": "zellis-rl"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"WorkerNumber": {
										"type": "string"
									},
									"PayGroupId": {
										"type": "integer"
									},
									"ProbationPassedDate": {
										"type": "string"
									},
									"TitleId": {
										"type": "integer"
									},
									"PreviousSurname": {
										"type": "string"
									},
									"OtherForenames": {
										"type": "string"
									},
									"ReligionId": {
										"type": "integer"
									},
									"EmployeeTypeId": {
										"type": "integer"
									},
									"FirstForename": {
										"type": "string"
									},
									"PayMethodId": {
										"type": "integer"
									},
									"OriginalJoinReasonId": {
										"type": "integer"
									},
									"WorkTelephoneNumber": {
										"type": "string"
									},
									"PersonalEmail": {
										"type": "string"
									},
									"AddressId": {
										"type": "integer"
									},
									"LastPaidDate": {
										"type": "string"
									},
									"OriginalStartDate": {
										"type": "string"
									},
									"LastPaidYear": {
										"type": "string"
									},
									"Surname": {
										"type": "string"
									},
									"KnownAs": {
										"type": "string"
									},
									"CurrentJoinReasonId": {
										"type": "integer"
									},
									"HomeTelephoneNumber": {
										"type": "string"
									},
									"CurrentStartDate": {
										"type": "string"
									},
									"DeathDate": {
										"type": "string"
									},
									"MaritalStatusEffectiveDate": {
										"type": "string"
									},
									"LegislationTypeId": {
										"type": "integer"
									},
									"BusinessEmail": {
										"type": "string"
									},
									"WorkerId": {
										"type": "integer"
									},
									"EthnicOriginId": {
										"type": "integer"
									},
									"Initials": {
										"type": "string"
									},
									"PayGroupEffectiveDate": {
										"type": "string"
									},
									"GenderId": {
										"type": "integer"
									},
									"LanguageId": {
										"type": "integer"
									},
									"BirthDate": {
										"type": "string"
									},
									"NationalInsuranceNo": {
										"type": "string"
									},
									"CountryOfBirthId": {
										"type": "integer"
									},
									"MaritalStatusId": {
										"type": "integer"
									},
									"IsCurrent": {
										"type": "boolean"
									},
									"WorkTelephoneExtension": {
										"type": "string"
									},
									"LeaveReasonId": {
										"type": "integer"
									},
									"BankAccountId": {
										"type": "integer"
									},
									"LeaveDate": {
										"type": "string"
									},
									"MobileTelephoneNumber": {
										"type": "string"
									},
									"LastPaidPeriod": {
										"type": "string"
									},
									"ControlGroupId": {
										"type": "integer"
									},
									"Age": {
										"type": "integer"
									},
									"TemporaryPayments": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerPosts": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"Gender": {
										"type": "object"
									},
									"CurrentMainWorkerPost": {
										"type": "object"
									},
									"EthnicOrigin": {
										"type": "object"
									},
									"OperatorProfileToWorkers": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerParentalLeave": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"Title": {
										"type": "object"
									},
									"WorkerPayPeriods": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"ControlGroup": {
										"type": "object"
									},
									"OriginalJoinReason": {
										"type": "object"
									},
									"CountryOfBirth": {
										"type": "object"
									},
									"PayMethod": {
										"type": "object"
									},
									"CurrentYTDs": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"PeriodOnPeriodYTDs": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"BankAccount": {
										"type": "object"
									},
									"WorkerUSCDetails": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerTaxCodeHistories": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"Address": {
										"type": "object"
									},
									"ReportingLevels": {
										"type": "object"
									},
									"UserSecurityToWorkers": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerPRSIDetails": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerPensionSchemes": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"PayGroup": {
										"type": "object"
									},
									"Religion": {
										"type": "object"
									},
									"AbsenceEntitlements": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"CurrentJoinReason": {
										"type": "object"
									},
									"WorkerCostingData": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"EmployeeType": {
										"type": "object"
									},
									"LeaveReason": {
										"type": "object"
									},
									"LegislationType": {
										"type": "object"
									},
									"AbsenceHeaders": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"MaritalStatus": {
										"type": "object"
									},
									"Managers": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"FixedPayments": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerBenefits": {
										"type": "array",
										"items": {
											"type": "object"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_z39')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageDf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "zeworkerposts.json",
						"container": "zellis-rl"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"WorkerNumber": {
										"type": "string"
									},
									"PayGroupId": {
										"type": "integer"
									},
									"ProbationPassedDate": {
										"type": "string"
									},
									"TitleId": {
										"type": "integer"
									},
									"PreviousSurname": {
										"type": "string"
									},
									"OtherForenames": {
										"type": "string"
									},
									"ReligionId": {
										"type": "integer"
									},
									"EmployeeTypeId": {
										"type": "integer"
									},
									"FirstForename": {
										"type": "string"
									},
									"PayMethodId": {
										"type": "integer"
									},
									"OriginalJoinReasonId": {
										"type": "integer"
									},
									"WorkTelephoneNumber": {
										"type": "string"
									},
									"PersonalEmail": {
										"type": "string"
									},
									"AddressId": {
										"type": "integer"
									},
									"LastPaidDate": {
										"type": "string"
									},
									"OriginalStartDate": {
										"type": "string"
									},
									"LastPaidYear": {
										"type": "string"
									},
									"Surname": {
										"type": "string"
									},
									"KnownAs": {
										"type": "string"
									},
									"CurrentJoinReasonId": {
										"type": "integer"
									},
									"HomeTelephoneNumber": {
										"type": "string"
									},
									"CurrentStartDate": {
										"type": "string"
									},
									"DeathDate": {
										"type": "string"
									},
									"MaritalStatusEffectiveDate": {
										"type": "string"
									},
									"LegislationTypeId": {
										"type": "integer"
									},
									"BusinessEmail": {
										"type": "string"
									},
									"WorkerId": {
										"type": "integer"
									},
									"EthnicOriginId": {
										"type": "integer"
									},
									"Initials": {
										"type": "string"
									},
									"PayGroupEffectiveDate": {
										"type": "string"
									},
									"GenderId": {
										"type": "integer"
									},
									"LanguageId": {
										"type": "integer"
									},
									"BirthDate": {
										"type": "string"
									},
									"NationalInsuranceNo": {
										"type": "string"
									},
									"CountryOfBirthId": {
										"type": "integer"
									},
									"MaritalStatusId": {
										"type": "integer"
									},
									"IsCurrent": {
										"type": "boolean"
									},
									"WorkTelephoneExtension": {
										"type": "string"
									},
									"LeaveReasonId": {
										"type": "integer"
									},
									"BankAccountId": {
										"type": "integer"
									},
									"LeaveDate": {
										"type": "string"
									},
									"MobileTelephoneNumber": {
										"type": "string"
									},
									"LastPaidPeriod": {
										"type": "string"
									},
									"ControlGroupId": {
										"type": "integer"
									},
									"Age": {
										"type": "integer"
									},
									"TemporaryPayments": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerPosts": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"Gender": {
										"type": "object"
									},
									"CurrentMainWorkerPost": {
										"type": "object"
									},
									"EthnicOrigin": {
										"type": "object"
									},
									"OperatorProfileToWorkers": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerParentalLeave": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"Title": {
										"type": "object"
									},
									"WorkerPayPeriods": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"ControlGroup": {
										"type": "object"
									},
									"OriginalJoinReason": {
										"type": "object"
									},
									"CountryOfBirth": {
										"type": "object"
									},
									"PayMethod": {
										"type": "object"
									},
									"CurrentYTDs": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"PeriodOnPeriodYTDs": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"BankAccount": {
										"type": "object"
									},
									"WorkerUSCDetails": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerTaxCodeHistories": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"Address": {
										"type": "object"
									},
									"ReportingLevels": {
										"type": "object"
									},
									"UserSecurityToWorkers": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerPRSIDetails": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerPensionSchemes": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"PayGroup": {
										"type": "object"
									},
									"Religion": {
										"type": "object"
									},
									"AbsenceEntitlements": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"CurrentJoinReason": {
										"type": "object"
									},
									"WorkerCostingData": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"EmployeeType": {
										"type": "object"
									},
									"LeaveReason": {
										"type": "object"
									},
									"LegislationType": {
										"type": "object"
									},
									"AbsenceHeaders": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"MaritalStatus": {
										"type": "object"
									},
									"Managers": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"FixedPayments": {
										"type": "array",
										"items": {
											"type": "object"
										}
									},
									"WorkerBenefits": {
										"type": "array",
										"items": {
											"type": "object"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonflat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "praveen-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/spacedeldataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "newspac",
						"container": "praveen-container"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/weatherdailyforecast_xf0_SourceDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_relativeUrl": {
						"type": "String"
					}
				},
				"folder": {
					"name": "weatherdailyforecast_xf0_20210729"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().cw_relativeUrl",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerH21')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"servername": {
						"type": "string",
						"defaultValue": "DWDEVDB,55219"
					},
					"DbName": {
						"type": "string",
						"defaultValue": "h21_dw"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerH21_connectionString')]",
					"userName": "[parameters('SqlServerH21_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServerH21_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntimeAzure",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerStagingList')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerStagingList_connectionString')]",
					"userName": "[parameters('SqlServerStagingList_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServerStagingList_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntimeAzure",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedServiceSqlControl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linkedServiceSqlControl_connectionString')]",
					"userName": "[parameters('linkedServiceSqlControl_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedServiceSqlControl_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntimeAzure",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_7w0')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_7w0",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "filo//jsonmultiarray.json"
							},
							{
								"name": "Destination",
								"value": "praveen-container//JSONFT"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['returnReference']"
										},
										"sink": {
											"path": "$['returnReference']"
										}
									},
									{
										"source": {
											"path": "$['orderReference']"
										},
										"sink": {
											"path": "$['orderReference']"
										}
									},
									{
										"source": {
											"path": "$['customerId']"
										},
										"sink": {
											"path": "$['customerId']"
										}
									}
								],
								"collectionReference": "$['items']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_7w0",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_7w0",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-09T12:42:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_amk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_amk",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "praveen-container//jsonmultiarraylknkk.json"
							},
							{
								"name": "Destination",
								"value": "filo//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['returnReference']"
										},
										"sink": {
											"path": "$['returnReference']"
										}
									},
									{
										"source": {
											"path": "$['orderReference']"
										},
										"sink": {
											"path": "$['orderReference']"
										}
									},
									{
										"source": {
											"path": "$['customerId']"
										},
										"sink": {
											"path": "$['customerId']"
										}
									},
									{
										"source": {
											"path": "$['var'][0]['variantId']"
										},
										"sink": {
											"path": "$['variantId']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_amk",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_amk",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-09T15:11:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_n00temperature')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_n00",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "praveen-container/test-folder-praveen/temperature.txt"
							},
							{
								"name": "Destination",
								"value": "praveen-container//copyfiletemprature"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_n00",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_n00",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-28T08:59:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_n00')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_udv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_udv",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "zellis-rl//zeworkerposts.json"
							},
							{
								"name": "Destination",
								"value": "filo//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_udv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_udv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_udv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopyTask2_vj9_BottomLevel')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline will copy objects from one group. The objects belonging to this group will be copied parallelly.",
				"activities": [
					{
						"name": "ListObjectsFromOneGroup",
						"description": "List objects from one group and iterate each of them to downstream activities",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.ObjectsPerGroupToCopy",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "RouteJobsBasedOnLoadingBehavior",
									"description": "Check the loading behavior for each object if it requires full load or incremental load. If it is Default or FullLoad case, do full load. If it is DeltaLoad case, do incremental load via watermark column to identify changes.",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "FullLoad",
												"activities": [
													{
														"name": "FullLoadOneObject",
														"description": "Take a full snapshot on this object and copy it to the destination",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [
															{
																"name": "Source",
																"value": "@{json(item().SourceObjectSettings).container}/@{json(item().SourceObjectSettings).folderPath}/@{json(item().SourceObjectSettings).fileName}"
															},
															{
																"name": "Destination",
																"value": "@{json(item().SinkObjectSettings).container}/@{json(item().SinkObjectSettings).folderPath}/@{json(item().SinkObjectSettings).fileName}"
															}
														],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": {
																		"value": "@json(item().CopySourceSettings).recursive",
																		"type": "Expression"
																	},
																	"wildcardFileName": {
																		"value": "@json(item().CopySourceSettings).wildcardFileName",
																		"type": "Expression"
																	},
																	"enablePartitionDiscovery": {
																		"value": "@json(item().CopySourceSettings).enablePartitionDiscovery",
																		"type": "Expression"
																	}
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings",
																	"skipLineCount": {
																		"value": "@json(item().CopySourceSettings).skipLineCount",
																		"type": "Expression"
																	}
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobStorageWriteSettings",
																	"copyBehavior": {
																		"value": "@json(item().CopySinkSettings).copyBehavior",
																		"type": "Expression"
																	}
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": {
																		"value": "@json(item().CopySinkSettings).quoteAllText",
																		"type": "Expression"
																	},
																	"fileExtension": {
																		"value": "@json(item().CopySinkSettings).fileExtension",
																		"type": "Expression"
																	}
																}
															},
															"enableStaging": false,
															"validateDataConsistency": false,
															"translator": {
																"value": "@json(item().CopyActivitySettings).translator",
																"type": "Expression"
															}
														},
														"inputs": [
															{
																"referenceName": "MetadataDrivenCopyTask2_vj9_SourceDS",
																"type": "DatasetReference",
																"parameters": {
																	"cw_columnDelimiter": {
																		"value": "@json(item().SourceObjectSettings).columnDelimiter",
																		"type": "Expression"
																	},
																	"cw_escapeChar": {
																		"value": "@json(item().SourceObjectSettings).escapeChar",
																		"type": "Expression"
																	},
																	"cw_quoteChar": {
																		"value": "@json(item().SourceObjectSettings).quoteChar",
																		"type": "Expression"
																	},
																	"cw_firstRowAsHeader": {
																		"value": "@json(item().SourceObjectSettings).firstRowAsHeader",
																		"type": "Expression"
																	},
																	"cw_fileName": {
																		"value": "@json(item().SourceObjectSettings).fileName",
																		"type": "Expression"
																	},
																	"cw_folderPath": {
																		"value": "@json(item().SourceObjectSettings).folderPath",
																		"type": "Expression"
																	},
																	"cw_container": {
																		"value": "@json(item().SourceObjectSettings).container",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "MetadataDrivenCopyTask2_vj9_DestinationDS",
																"type": "DatasetReference",
																"parameters": {
																	"cw_columnDelimiter": {
																		"value": "@json(item().SinkObjectSettings).columnDelimiter",
																		"type": "Expression"
																	},
																	"cw_escapeChar": {
																		"value": "@json(item().SinkObjectSettings).escapeChar",
																		"type": "Expression"
																	},
																	"cw_quoteChar": {
																		"value": "@json(item().SinkObjectSettings).quoteChar",
																		"type": "Expression"
																	},
																	"cw_fileName": {
																		"value": "@json(item().SinkObjectSettings).fileName",
																		"type": "Expression"
																	},
																	"cw_folderPath": {
																		"value": "@json(item().SinkObjectSettings).folderPath",
																		"type": "Expression"
																	},
																	"cw_container": {
																		"value": "@json(item().SinkObjectSettings).container",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "DefaultFullLoadOneObject",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).container}/@{json(item().SourceObjectSettings).folderPath}/@{json(item().SourceObjectSettings).fileName}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).container}/@{json(item().SinkObjectSettings).folderPath}/@{json(item().SinkObjectSettings).fileName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": {
																"value": "@json(item().CopySourceSettings).recursive",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@json(item().CopySourceSettings).wildcardFileName",
																"type": "Expression"
															},
															"enablePartitionDiscovery": {
																"value": "@json(item().CopySourceSettings).enablePartitionDiscovery",
																"type": "Expression"
															}
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings",
															"skipLineCount": {
																"value": "@json(item().CopySourceSettings).skipLineCount",
																"type": "Expression"
															}
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings",
															"copyBehavior": {
																"value": "@json(item().CopySinkSettings).copyBehavior",
																"type": "Expression"
															}
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": {
																"value": "@json(item().CopySinkSettings).quoteAllText",
																"type": "Expression"
															},
															"fileExtension": {
																"value": "@json(item().CopySinkSettings).fileExtension",
																"type": "Expression"
															}
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopyTask2_vj9_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_columnDelimiter": {
																"value": "@json(item().SourceObjectSettings).columnDelimiter",
																"type": "Expression"
															},
															"cw_escapeChar": {
																"value": "@json(item().SourceObjectSettings).escapeChar",
																"type": "Expression"
															},
															"cw_quoteChar": {
																"value": "@json(item().SourceObjectSettings).quoteChar",
																"type": "Expression"
															},
															"cw_firstRowAsHeader": {
																"value": "@json(item().SourceObjectSettings).firstRowAsHeader",
																"type": "Expression"
															},
															"cw_fileName": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@json(item().SourceObjectSettings).folderPath",
																"type": "Expression"
															},
															"cw_container": {
																"value": "@json(item().SourceObjectSettings).container",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopyTask2_vj9_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_columnDelimiter": {
																"value": "@json(item().SinkObjectSettings).columnDelimiter",
																"type": "Expression"
															},
															"cw_escapeChar": {
																"value": "@json(item().SinkObjectSettings).escapeChar",
																"type": "Expression"
															},
															"cw_quoteChar": {
																"value": "@json(item().SinkObjectSettings).quoteChar",
																"type": "Expression"
															},
															"cw_fileName": {
																"value": "@json(item().SinkObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@json(item().SinkObjectSettings).folderPath",
																"type": "Expression"
															},
															"cw_container": {
																"value": "@json(item().SinkObjectSettings).container",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ObjectsPerGroupToCopy": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopyTask2_vj9_20210728"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-28T14:23:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinejsonfilemail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipelinejsonsub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"mjson": {
									"value": "@activity('Lookup1').output.value",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-11T10:46:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/spacedelcopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_7cx",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "filo//newspace.txt"
							},
							{
								"name": "Destination",
								"value": "praveen-container//newspac"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_7cx",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_7cx",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-03T13:03:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_2x7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedServiceSqlControl",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "weather",
					"table": "REST resource"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceSqlControl')]"
			]
		}
	]
}